  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
    <%= link_to gallery_post_path(@gallery, post), class: "btn", data: {toggle: "modal", target:"#photomodal-#{post.id}", remote: false} do %>
      <%= image_tag post.photo.versions[:standard], class: "img-responsive" %>
    <% end %>
    </div>
  </div>


<div class="modal fade" id="photomodal-<%= post.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= post.caption %></h4>
      </div>
      <div class="modal-body">
        <%= image_tag post.photo.versions[:viewing] %>
      </div>
      <div class="modal-footer">
        <ul class="pager">
          <% if post.previous %>
            <li><%= link_to "Previous", gallery_post_path(@gallery, post.previous), class: "btn", data: {toggle: "modal", target: "#photomodal-#{post.previous.id}", dismiss: "modal"}  %></li>
          <% end %>
          <% if post.next %>
            <li><%= link_to "Next", gallery_post_path(@gallery, post.next), class: "btn", data: {toggle: "modal", target: "#photomodal-#{post.next.id}", dismiss: "modal"}  %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
