<div class="container">
  <div class="jumbotron">
    <% if current_user %>
      <h1>Welcome <%= current_user.username %></h1>
    <% else %>
      <h1>A gallery that puts a world of possibilities at your fingertips. <i>Literally.</i></h1>
      <p><%= link_to "Sign In", signin_path, class: "btn btn-primary" %></a>
        <%= link_to "Sign Up!", new_user_path, class: "btn btn-primary" %></p>
      <% end %>
  </div>

  <div class="row">
    <% if current_user %>
      <h1 class="text-center">Your Galleries</h1>
      <div class="row">
        <%= render current_user.galleries %>
      </div>
    <% else %>
      <h1 class="text-center">Galleries</h1>
          <div class="row">
                <%= render @galleries %>
              </div>
  <% end %>
</div>
